* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

body.dark {
    background-color: #121212;
    color: #eee;
}

header {
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

#logo {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#login {
    border: 1px solid blue;
}

#logout {
    border: 1px solid gray;
}

#new_user {
    border: 1px solid green
}

#burger {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#burger div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

#mobile-nav {
    display: none;
}

.open #mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#mobile-nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

#mobile-nav li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }
    #burger {
        display: block;
    }
}