<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <style>
            body { background-color: gray; }
        </style>
        <title>Głosowanie</title>
        
    </head>
    <body>
        Głosy: <span id="count">{{ votes }}</span>
        <br><br>
        <button id="up">W górę</button>
        <br>
        <button id="down">W dół</button>
		<br>
		<button id="test">test</button>
        <h1 id="testing"></h1>
		 <script>
            document.addEventListener('DOMContentLoaded', ()=> {
                document.querySelectorAll('button').forEach(button=>{button.onclick=()=>{
                    const request = new XMLHttpRequest();
                                request.open('POST', `/${button.id}`);
								console.log('button id:',button.id); 
                                request.onload=()=>{
                                    const response=request.responseText;
                                    console.log('response: ', response)
									if(button.id==='test') {
										document.getElementById("testing").innerHTML=response;
									}
									else {
                                    document.getElementById('count').innerHTML=response;
									}
                                    };
                                        request.send();
                                };
                            });
                        });
        </script>
    </body>
