<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/main.css" />
    <title>Słówka</title>
    <script src="static/style.js"></script>
</head>

<body>
    <header>
        <div id='logo'>Słówka</div>
        <nav id='nav'>
            <ul id='navl'>
                <li>Uytkownik: </li>
                <li>Ucz się</li>
                <li>Nowe słówka</li>
                <li>Lista pytań</li>
                <li>Ranking</li>
                <li id='login'>Zaloguj</li>
                <li id='logout'>Wyloguj</li>
                <li id='new_user'>Nowy użytkownik</li>
            </ul>
        </nav>
        <div id='burger' onclick="toggle(this)">
            <div class='bar1'></div>
            <div class='bar2'></div>
            <div class='bar3'></div>
            <ul id="mobile-nav"></ul>
        </div>
    </header>
</body>

</html>