<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>spa</title>
        <link rel="stylesheet" href="static/main.css">

        <script>
            function f(d) {
                let z = d.getAttribute('data-t')
                alert(z)
                y(d)
            }

            function showSection(section) {
                fetch(`/${section}`)
                .then(response=>response.text())
                .then(text=>{            
                    console.log(text)
                    if (section=='page3') {
                        sample = JSON.parse(text);
                        t=''
                        for(let i in sample) {
                            t+=sample[i]+'<br>';
                            }
                    document.querySelector('#p').innerHTML = t;
                                }
                    else if(section=='page2'){
                       console.log('two')
                       document.querySelector('#uq').innerHTML = text;     
                          }
                    else if(section=='page4'){
                        console.log('page4')
                        document.querySelector('#page4').innerHTML = text;
                                }
                    else{console.log('diffrent story')}
                })
            }
                    
            function showPage(page) {
                document.querySelectorAll('.spa').forEach(d => {
                d.style.display = 'none';
            });
                document.querySelector(`#${page}`).style.display = 'block';
            }

            function y(sub){
               console.log('y func')
               showSection(sub)
               showPage(sub)
               }        
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('.click').forEach(button => {
                button.onclick = function() {
                console.log('onclick')
                showSection(this.dataset.page);                
                showPage(this.dataset.page);
                    }
                })
           });
            
        </script>
    </head>
        <body>
            <button class='click' data-page='page1'>p1</button>
            <button class='click' data-page='page2'>p2</button>
            <button class='click' data-page='page3'>p3</button>
            <button class='click' data-page='page4'>p4</button>
            <div class='spa' id='page1'>
                <form action="" method="POST">
                    <label for="q">Pytanie:</label><br>
                    <input type="text" name='question' value="A"><br>
                    <label for="a">Odpowiedź:</label><br>
                    <input type="text" name='answer' value="Bcccc"><br><br>
                    <input type="submit" value="Potwierdź">
                </form>
            </div>
            <div class='spa' id='page2'>
                <form action="" method="POST">
                    <h1 id="uq">uq</h1>
                    <label>question</label>
                    <input type="hidden" name="userAnswer" value="userAnswer">
                    <input type="text" name="userQuestion"><br>
                    <input type='submit' value='submit'>
                </form>
            </div>
            <div class='spa' id='page3'>
                <h1>Lista pytań</h1>
                <dl id='p'></dl>
            </div>
            <div><h4>{{success}}</h4></div>
        </body>
