<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <style>
            body { background-color: gray; }
        </style>
        <title>Głosowanie</title>
        
    </head>
    <body>
        Głosy: <span id="count">{{ votes }}</span>
        <br><br>
        <button id="up" class="click">W górę</button>
        <br>
        <button id="down" class="click">W dół</button>
		<br>
		<button id="test" class="click">test</button>
        <h1 id="testing"></h1>
        <form>
            <input type="text" value="whatever" name="some_name" >
            <input id="inputs"  type="submit" value="naciś" class="click">
            <h3 id="input">{{inputs}}</h3>
        </form>
		 <script>
            document.addEventListener('DOMContentLoaded', ()=> {
                document.querySelectorAll('.click').forEach(element=>{element.onclick=()=>{
                    const request = new XMLHttpRequest();
                                request.open('POST', `/${element.id}`);
								console.log('element.id:',element.id); 
                                request.onload=()=>{
                                    const response=request.responseText;
                                    console.log('response: ', response)
									if(element.id==='test') {
										document.getElementById("testing").innerHTML=response;
									}
                                    else if(element.id==='inputs'){
                                        document.getElementById("input").innerHTML=response;
                                                 }
									else {
                                    document.getElementById("count").innerHTML=response;
									}
                                    };
                                        request.send();
                                };
                            });
                        });
        </script>
    </body>
